/* Styles for UserList Component */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #fff;
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  h2 {
    color: #343a40;
  }
  